<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Comp</servlet-name>
        <servlet-class>Controlador.Comp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Singleton</servlet-name>
        <servlet-class>Factory.Singleton</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>Modelo.Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioMaster</servlet-name>
        <servlet-class>Modelo.UsuarioMaster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioInvitado</servlet-name>
        <servlet-class>Modelo.UsuarioInvitado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioRegular</servlet-name>
        <servlet-class>Modelo.UsuarioRegular</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrar</servlet-name>
        <servlet-class>Controlador.Registrar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Comp</servlet-name>
        <url-pattern>/Comp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Singleton</servlet-name>
        <url-pattern>/Singleton</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioMaster</servlet-name>
        <url-pattern>/UsuarioMaster</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioInvitado</servlet-name>
        <url-pattern>/UsuarioInvitado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioRegular</servlet-name>
        <url-pattern>/UsuarioRegular</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrar</servlet-name>
        <url-pattern>/Registrar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
